.titulo-site {
    color: var(--cor-preta);
    border-bottom: 1px solid rgb(206, 196, 196);
}

iframe {
    padding-top: 20px;
}

.contato-conteudo {
    width: auto;
}


.tipos-contatos {
    font-size: 1.5em;
}

.clear {
    clear: both;
}

.contato-contato {
    margin-top: 300px;
}

.contato-contato a {
    text-decoration: none;
    color: black;
}

.contato-contato a:hover {
    text-decoration: none;
    color: blue;
}

.imagem-frente-loja{
    width: 581.7px;
    height: 625.8px;
    margin-bottom: 50px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .contato-contato {
        margin-top: 20px;
    }
}
