body {
    margin: 0 auto;

}

header {

    background: var(--cor-preta);
    text-align: center;
}

#area-logo,
#area-menu {
    padding-bottom: 5px;
}

.slogan {
    font-family: 'Dancing Script';
    color: #FFF;
    font-size: 1.5em;

}


.menu-link {
    color: #FFF;
    background: none;
    border: none;
    padding-bottom: 3px;
    font-size: 1.1em;
}

.dropdown-link {
    font-size: 0.9em;
    background-color: var(--cor-preta);
    margin-right: 80px;
}

.dropdown-toggle-split {
    margin-right: 5px;
}

.dropdown-link:hover {
    background-color: var(--cor-preta);
}

.dropdown-item {
    width: 0%;
    padding: 0;
}

.dropdown-toggle::after {
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}

.categorias-produtos {
    margin: 7px 10px;
    color: #FFF;
}

.categorias-produtos:hover {
    color: rgb(247, 225, 105);
    text-decoration: none;
}

.botao-produtos {
    font-size: 1.01em;
    margin: 8px 10px;
    margin-right: 0px
}

.menu-link:link,
.menu-link:visited {
    color: #FFF;
    margin: 8px 10px;
}

.menu-link:hover {
    color: rgb(247, 225, 105);
    text-decoration: none;
}