h1{
    font-size: 2em;
    padding: 20px 20px 10px 20px;
    text-align: center;
}
p{

    text-align: left;
}

.carrossel {
    margin-top: 15px;
}

.p-esquerda {
    margin-left: 50px;
    font-size: 1.5em;
}

.p-direita {
    margin-right: 50px;
}

p:before {
    content: "\00a0\00a0\00a0\00a0\00a0"
}

#duas-colunas {
    width: 1000px;
    margin: 0 auto;
}

#texto1 {
    width: 480px;
    float: left;
}

#texto2 {
    width: 480px;
	float: right;
}

#duas-colunas a {
    font-style: italic;
    color: red;
    text-decoration: none;
}

.clear {
    clear: both;
}

.destaques-masculinos {
    margin-top: 40px;

    border-right: 2px dotted #1b1b1b;;
}

.destaques-femininos {
    margin-top: 40px;
    margin-left: 8px;
}

.texto-destaques {
    color: rgb(236, 30, 30);
    margin-top: 22px;
    font-size: 2.2em;
    text-align: center;
    display: block;
    font-family: 'Dancing Script';
}
