.titulo-produto {
    font-weight: 900;
}

.preco {
    color: red;
}

.codigo-produto {
    font-size: 0.7em;
}

.card-produto {
    width: 150px;
    margin-right: 50px;
    margin-top: 15px;
    display: flex;
    float: left;
}

.sexo {
    font-size: 0.8em;
    font-style: italic;
}

.insta-img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35%;
    left: 75%;
}

.categoria{
    font-size: 0.95em;
}

.texto-genero {
    text-align: left;
    margin-top: 15px;
}

.texto-genero:before {
    content: none;
}
